<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trang chi tiết</title>
    <link rel="stylesheet" href="../../public/css/header.css">
    <link rel="stylesheet" href="../../public/css/detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css?fbclid=IwAR13GeCKpDnRYumLZWBe8nDm7dQ6Ue96ZQS4S9ZRyHQs9_vmwN_tBqeu0r0">

</head>
<body>
    <header id="header">
        <img src="../img/Sneaker Shop Neutral Urban Logo.png" alt="" class="header_logo">
        <nav class="header_nav">
            <ul>
                <a href="" class="header_nav_link">
                    <li class="header_nav_text">Nike</li>
                </a>
                <a href="" class="header_nav_link">
                    <li class="header_nav_text">Adidas</li>
                </a>
                <a href="" class="header_nav_link">
                    <li class="header_nav_text">New Balance</li>
                </a>
                <a href="" class="header_nav_link">
                    <li class="header_nav_text">Converse</li>
                </a>
                <a href="" class="header_nav_link">
                    <li class="header_nav_text">Vans</li>
                </a>
                <a href="" class="header_nav_link">
                    <li class="header_nav_text">Balenciaga</li>
                </a>
            </ul>
        </nav>
        <div class="header_user">
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-user"></i>
        </div>
    </header>
    <main id="main">
        <section id="container">
            <section class="product">
                
            </section>

            <section class="product_info">
                <div class="product_info_title">
                    <h3 class="product_info_title_text product_info_title_border product_info_title_default">Thông Tin Sản Phẩm</h3>
                    <h3 class="product_info_title_text product_info_title_border">Hướng Dẫn Bảo Quản</h3>
                    <h3 class="product_info_title_text product_info_title_border">Chính Sách Đổi Trả</h3>
                </div>
                <div class="product_info_text product_info_text_display">
                    <ul>
                        <li><strong>Chất liệu:</strong></li>
                        <li><strong>Kiểu dáng:</strong></li>
                        <li><strong>Đế giày:</strong></li>
                        <li>Logo bóng chày in sắc nét</li>
                        <li><strong>Xuất xứ thương hiệu:</strong></li>
                    </ul>
                </div>
                <div class="product_info_text product_info_text_display">
                    <p>Vệ Sinh Bằng Khăn Mềm</p>
                    <p>Tránh vật sắc nhọn và nơi có nhiệt độ cao</p>
                    <p>Tránh tiếp xúc với môi trường xăng dầu, kiềm</p>
                    <p>Không phơi sản phẩm nơi ánh nắng gắt</p>
                    <p>Để nơi khô thoáng khi không sử dụng</p>
                </div>
                <div class="product_info_text ">
                    <p>Áp dụng cho toàn bộ sản phẩm giày dép nguyên giá.</p>
                    <p><strong>Đối tượng khách hàng:</strong> Tất cả khách hàng sử dụng dịch vụ tại shop</p>
                    <ul>
                        <strong>Thời gian đổi/ trả hàng:</strong>
                        <li><strong>Đổi hàng:</strong> trong vòng <strong>7 ngày</strong> kể từ ngày khách hàng nhận được sản phẩm.</li>
                        <li><strong>Trả hàng:</strong> trong vòng <strong>3 ngày</strong> kể từ ngày khách hàng nhận được sản phẩm.</li>
                    </ul>
                    <p>Lưu ý: <i>Không áp dụng cho các sản phẩm giảm giá từ 30% trở lên và các sản phẩm mua trực tiếp tại hệ thống cửa hàng </i></p>
                    
                </div>
            </section>

            <section class="product_category">
                <div class="title">
                    <h1>Có Thể bạn sẽ thích</h1>
                </div>
                <section class="product_category_pro">
                    <div class="product_category_element">
                        <img src="../public/img/product/balenciaga_adidas_triple_s_white_black_2.png" alt="" class="product_category_element_img">
                        <div class="product_category_element_info">
                            <p class="product_category_element_info_name">MLB - Giày sneakers unisex cổ thấp Big Ball Chunky A Neon</p>
                            <p class="product_category_element_info_price"><span class="product_category_element_info_price_new">30000000</span> <s class="product_category_element_info_price_old">300000</s></p>
                        </div>
                    </div>
                    <div class="product_category_element">
                        <img src="../public/img/product/balenciaga_adidas_triple_s_white_black_2.png" alt="" class="product_category_element_img">
                        <div class="product_category_element_info">
                            <p class="product_category_element_info_name">MLB - Giày sneakers unisex cổ thấp Big Ball Chunky A Neon</p>
                            <p class="product_category_element_info_price"><span class="product_category_element_info_price_new">30000000</span> <s class="product_category_element_info_price_old">300000</s></p>
                        </div>
                    </div>
                    <div class="product_category_element">
                        <img src="../public/img/product/balenciaga_adidas_triple_s_white_black_2.png" alt="" class="product_category_element_img">
                        <div class="product_category_element_info">
                            <p class="product_category_element_info_name">MLB - Giày sneakers unisex cổ thấp Big Ball Chunky A Neon</p>
                            <p class="product_category_element_info_price"><span class="product_category_element_info_price_new">30000000</span> <s class="product_category_element_info_price_old">300000</s></p>
                        </div>
                    </div>
                    <div class="product_category_element">
                        <img src="../public/img/product/balenciaga_adidas_triple_s_white_black_2.png" alt="" class="product_category_element_img">
                        <div class="product_category_element_info">
                            <p class="product_category_element_info_name">MLB - Giày sneakers unisex cổ thấp Big Ball Chunky A Neon</p>
                            <p class="product_category_element_info_price"><span class="product_category_element_info_price_new">30000000</span> <s class="product_category_element_info_price_old">300000</s></p>
                        </div>
                    </div>
                    <div class="product_category_element">
                        <img src="../public/img/product/balenciaga_adidas_triple_s_white_black_2.png" alt="" class="product_category_element_img">
                        <div class="product_category_element_info">
                            <p class="product_category_element_info_name">MLB - Giày sneakers unisex cổ thấp Big Ball Chunky A Neon</p>
                            <p class="product_category_element_info_price"><span class="product_category_element_info_price_new">30000000</span> <s class="product_category_element_info_price_old">300000</s></p>
                        </div>
                    </div>
                    <div class="product_category_element">
                        <img src="../public/img/product/balenciaga_adidas_triple_s_white_black_2.png" alt="" class="product_category_element_img">
                        <div class="product_category_element_info">
                            <p class="product_category_element_info_name">MLB - Giày sneakers unisex cổ thấp Big Ball Chunky A Neon</p>
                            <p class="product_category_element_info_price"><span class="product_category_element_info_price_new">30000000</span> <s class="product_category_element_info_price_old">300000</s></p>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </main>
    <script src="../public/js/detail.js"></script>
</body>
</html>