@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
}

.title{
    margin-top: 30px;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin: 10px 0;
}


#container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.product_left{
    display: flex;
    justify-content: space-around;   
    width: 50%;
    align-items: center;
}

.product_left_img_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.product_left_img_list_element{
    height: 75px;
    width: 100px;
    margin: 10px 0;
}

.product_left_img{
    height: 600px;
    width: 85%;
    display: flex;
    align-items: center;
}

.product_left_img_prime{
    margin: 0 15px;
    padding: 20px ;
    object-fit: contain;
    width: 100%;
    text-align: center;
    border: 1px solid grey;
}

.product_right{
    margin: 10px 50px;
}

.product_right_name{
    font-size: 32px;
}

.product_right_code,.product_right_size_text{
    font-size: 18px;
    margin: 10px 0;
}

.product_right_size_list{
    display: flex;
    justify-content: center;
}

.product_right_size_list_element{
    list-style: none;
    border: 1px solid grey;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}

.product_right_size_list_element_click{
    background-color: rgb(174, 172, 172,0.5);
}

.product_right_price{
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 20px 0;
}

.product_right_price_old{
    font-size: 18px;
    color: grey;
    text-decoration-color: grey;
}

.product_right_price_new{
    font-size: 24px;
}

.product_right_price_sale{
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.product_right_star{
    font-size: 22px;
    margin: 20px 0;
    color: black;
}

.product_right_button{
    margin: 25px 0;
    display: flex;
}

.product_right_button_element{
    height: 50px;
    width: 250px;
    border: none;
    background-color: black;
    color: white;
    width: 50%;
}

.button_buy{
    background-color: #B11821;
}

.product_right_user_new {
    border: 1px solid grey;
    border-radius: 10px;
    padding: 15px;
}

.product_right_user_new_title{
    font-size: 18px;
    margin-bottom: 10px;
}

.product_right_user_new p {
    font-size: 16px;
    margin: 10px 0;
}

.product_category{
    margin: 30px 0;
    position: relative;
    width: 80%;
}

.product_category_pro{
    position: relative;
    width: 100%;
}

.product_category_element{
    width: 19%;
    position: absolute;
    top: 10px;
    left: 0;
}

.product_category_element:nth-child(2){
    left: 20%;
}
.product_category_element:nth-child(3){
    left: 40%;
}
.product_category_element:nth-child(4){
    left: 60%;
}
.product_category_element:nth-child(5){
    left: 80%;
}

.product_category_element:nth-child(n+6){
    left: 120%;
}

.product_category_element_img{
    height: 260px;
    width: 100%;
}

.product_category_element_info{
    margin: 10px 0;
}

.product_category_element_info_name{
    margin: 10px 0;
    font-size: 20px;
}

.product_category_element_info_price_new{
    margin: 0 5px;
    font-size: 18px;
    color: red;
}

.product_category_element_info_price_old{
    color: grey;
    font-size: 16px;
    text-decoration-color: grey;
}

.product_info{
    width: 80%;
    margin: 25px 0;
}

.product_info_title{
    display: flex;
    /* justify-content: space-around; */
}
.product_info_title_text{
    margin: 15px 20px;
}

.product_info_text_display{
    display: none;
}

.product_info_text{
    margin: 10px 0;
    margin-left: 35px;
    position: relative;
}

.product_info_text p {
    margin: 10px 0;
}

.product_info_text ul li{
    margin: 5px 25px;
}


.product_info_title_border{
    background-color: var(--main-color);
    transition: 0.5s;
    position: relative;
    cursor: pointer;
}

.product_info_title_border::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: width 0.4s ease-in-out;
    border-bottom: 2px solid black;
}

.product_info_title_border:hover::after{
    width: 100%;
}

.product_info_title_default{
        background-color: var(--main-color);
        color: black;
        transition: 0.5s;
        border-bottom: 2px solid black;
}